doctype html
html(lang='en')
	include meta.pug

	meta(charset="UTF-8")
	-
	each key in meta
		each content, handle in key
			meta(name= handle, content= content)

	title ES6 Textarea
	base(href='/')
	-
	each key in link
		each content, handle in key
			link(rel= handle, href= content)

	body(data-theme='default')
		section
			.project-info
				nav #[a(href='/', title='HTML Textarea Javascript Plugin').logo TEXTAREA ...]
					ul
						li #[a(href='https://opensource.org/licenses/MIT', title='MIT') MIT]
						li #[a(href='https://github.com/joberror/textarea', title='Version number') _v2.1]
			.project-example 2


		script(type='module').
			import { textarea as tarea } from './scripts/textarea.js';
			// initiate svg module
