-
  var meta = [
    {author: 'Bolarinwa Olakunle'},
    {rating: 'General'},
    {description: 'Javascript Es6 plugin for HTML Textarea'},
    {copyright: 'Joberror, ©️ 2020'},
    {viewport: 'width=device-width, initial-scale=1.0'},
    {'theme-color': '#141414'},
    {'msapplication-navbutton-color': '#141414'},
    {'apple-mobile-web-app-capable': 'yes'},
    {'apple-mobile-web-app-status-bar-style': 'black-translucent'}
  ];

  var link = [
    {'dns-prefetch': '//fonts.googleapis.com'},
    {'dns-prefetch': '//storage.googleapis.com'},
    {'preconnect': '//fonts.googleapis.com"'},
    {'preconnect': '//storage.googleapis.com'},
    {'preconnect': '//fonts.gstatic.com'}
    {stylesheet: 'https://fonts.googleapis.com/css2?family=Courier+Prime&family=Quicksand:wght@400;600&display=swap'},
    {stylesheet: '/styles/main.css'}
  ];